<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <header>
        <div class="container">
            <div class="nav-content ">
                <div class="nav-logo">
                    <a href="/" class="logo">
                        <img class="header-logo" src="/images/logo.png" alt="#">
                        <p>Movie Tracker</p>
                    </a>     
                </div>
                <div>
                    <form class="search-button" action="/find-movie" method="post">
                        <label for="search">Search 
                        </label>
                        <svg x="0px" y="0px" viewBox="0 0 32 32">
                            <path d="M 19 3 C 13.488281 3 9 7.488281 9 13 C 9 15.394531 9.839844 17.589844 11.25 19.3125 L 3.28125 27.28125 L 4.71875 28.71875 L 12.6875 20.75 C 14.410156 22.160156 16.605469 23 19 23 C 24.511719 23 29 18.511719 29 13 C 29 7.488281 24.511719 3 19 3 Z M 19 5 C 23.429688 5 27 8.570313 27 13 C 27 17.429688 23.429688 21 19 21 C 14.570313 21 11 17.429688 11 13 C 11 8.570313 14.570313 5 19 5 Z"></path>
                        </svg>
                        <input type="text" name="search" id="search-box" class="search-box-input" onclick="openSearchBox()">
                        <div class="search-result-box remain-hidden" id="search-result-box" >

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    
</body>
</html>