<%- include('header.ejs') %>

<div class="main">
    <div class="container">
        <div class="homepage-cards">
            <a class="card" href="/watched-movies">
                <img src="/images/camera.png" alt="">
                <h2>Watched movies</h2>
            </a>

            <a class="card" href="/watch-list">
                <img src="/images/clock.png" alt="">
                <h2>Watch later</h2>
            </a>
        </div>
    </div>
</div>

<%- include('footer.ejs') %>