<%- include('header.ejs') %>

<div class="container">
    <h1><%= message %></h1>
</div>

<div class="container">
    <div class="watched-list">
        <h1>Watched movies</h1>

        <div class="entry">
            <a href="view/:id">
                <ul>
                    <li><img src="https://m.media-amazon.com/images/M/MV5BMDAyY2FhYjctNDc5OS00MDNlLThiMGUtY2UxYWVkNGY2ZjljXkEyXkFqcGc@._V1_SX300.jpg" alt=""></li>
                    <li>Title <br> The Great Showman </li>
                    <li>Genre <br> Horror, Adventure </li>
                    <li>Release Date <br> 12 Jun 2012 </li>
                </ul>
            </a>
        </div>

        <div class="entry">
            <a href="view/:id">
                <ul>
                    <li><img src="https://m.media-amazon.com/images/M/MV5BMDAyY2FhYjctNDc5OS00MDNlLThiMGUtY2UxYWVkNGY2ZjljXkEyXkFqcGc@._V1_SX300.jpg" alt=""></li>
                    <li>Title <br> The Great Showman </li>
                    <li>Genre <br> Horror, Adventure </li>
                    <li>Release Date <br> 12 Jun 2012 </li>
                </ul>
            </a>
        </div>

        <div class="entry">
            <a href="view/:id">
                <ul>
                    <li><img src="https://m.media-amazon.com/images/M/MV5BMDAyY2FhYjctNDc5OS00MDNlLThiMGUtY2UxYWVkNGY2ZjljXkEyXkFqcGc@._V1_SX300.jpg" alt=""></li>
                    <li>Title <br> The Great Showman </li>
                    <li>Genre <br> Horror, Adventure </li>
                    <li>Release Date <br> 12 Jun 2012 </li>
                </ul>
            </a>
        </div>

    
        
    </div>

</div>

<%- include('footer.ejs') %>